@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ncif13');
  src:  url('fonts/icomoon.eot?ncif13#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ncif13') format('truetype'),
    url('fonts/icomoon.woff?ncif13') format('woff'),
    url('fonts/icomoon.svg?ncif13#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-profile:before {
  content: "\e923";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
